/* app.component.css */
.navbar {
  display: flex;
  align-items: center;
  background-color: #1976d2;
  padding: 10px;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
